body{
    height: 100vh;
    padding:0;
    margin:0;
}
.bigcont{
    background-image: url("https://wallpaperaccess.com/full/3517019.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    width: 70vw;
    height: 70vh;
    margin-top: 100px;
}
.container45{
    border: 2px solid transparent;
    height: 275px;
    width: 437px;
    background-color: antiquewhite;
    border-radius: 15px;
}
.container45 .pannel1{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    margin: 79px 70px 15px 70px;
}
.container45 .pannel2{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    margin: 40px 70px 15px 70px;
}
.container45 .pannel1 input{
    width: 80vw;
    border: none;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
/*     font-style: italic; */
    font-weight: 700;
}
.container45 .pannel2 input{
    width: 80vw;
    border: none;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
/*     font-style: italic; */
    font-weight: 700;
}
.container45 .pannel1 button:hover{
    cursor: pointer;
    background-color: bisque;
    box-shadow: 5px 5px gray;
}
.container45 .pannel2 button:hover{
    cursor: pointer;
    background-color: bisque;
    box-shadow: 5px 5px gray;
}
.container45 .pannel1 button{
    width: 20vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.container45 .pannel2 button{
    width: 25vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
@media(max-width:700px){
    body{
        height: 100vh;
        padding:0;
        margin:0;
        background-image: url("https://wallpaperaccess.com/full/3517019.gif");
        background-size: cover;
    }
    .bigcont{
        background-image: none;
        /* background-size: cover; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto;
        width: 70vw;
        height: 70vh;
        margin-top: 100px;
    }
    .container45{
        /* border: 2px solid transparent; */
        /* height: 275px; */
        /* width: 437px; */
/*         background-color: transparent; */
        border-radius: 2px solid black;
        /* border-radius: 15px; */
    }


}
